<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>{{ title }}</h3>
    <p>
      {{ beschrijving }}
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ naam }}</h5>
        <p class="card-text">Studentnummer: {{ studentnummer }}</p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Speler</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>lengte: string</li>
      <li>voet: string</li>
      <li>snelheid: number</li>
      <li>verdedigen: number</li>
      <li>schieten: number</li>
      <li>positie: string</li>
      <li>dribbel: number</li>
      <li>fysiek: number</li>
      <li>passen: number</li>
      <li>algemeen: number</li>
      <li>land: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Keeper</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>algemeen: number</li>
      <li>duiken: number</li>
      <li>reflex: number</li>
      <li>trap: number</li>
      <li>positie: number</li>
      <li>land: string</li>
      <li>club: string</li>
      <li>voet: string</li>
      <li>lengte: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Team</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>spelers: speler[]</li>
      <li>keepers: keeper[]</li>
      <li>captain: string</li>
      <li>land: string</li>
      <li>logo: bin</li>
      <li>stadion: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Gebruiker</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>email: string</li>
      <li>password: string</li>
      <li>geld: number</li>
      <li>rol: string</li>
      <li>favoriet: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Toernooi</p>
    <ul>
      <li>naam: string</li>
      <li>aantal_teams: number</li>
      <li>land: string</li>
      <li>teams: teams[]</li>
      <li>prijs: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Wedstrijd</p>
    <ul>
      <li>thuisploeg: team</li>
      <li>uitploeg: team</li>
      <li>score: string</li>
      <li>winnaar: team</li>
      <li>datum: date</li>
      <li>stadion: string</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p></p>
  </div>
</div>
